.app-list {
  margin-top: 30px;
  background-color: #3d5a80;
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);
  color: #fff;
}

.list-group .header {
  /* color: rgb(78, 78, 78); */
  opacity: 50%;
}

.list-item-date,
.list-item-status {
  width: 15%;
}

.list-item-name {
  width: 15%;
}

.list-item-description {
  width: 45%;
}

.list-item-actions {
  width: 10%;
}